
<section class="content">
    <div class="content-block">
  
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <!-- <div class="card"> -->
            
            <div class="body">
  
  <div class="page" style="margin-top: 60px;">
      <!-- Add margin top -->
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
        <div style="text-align: left;">
          <h4 style="font-weight: bold;">
            Financial Performance
          </h4>
          <p style="font-size: 1.2rem; color: #999;">
            Share your Financial Performance details with your customers, which is required during RFP,RFQ process
          </p>
        </div>
        <div>
          <button mat-button color="primary" class="mat-raised-button edit-button">EDIT SECTION</button>
        </div>
      </div>
    
      <mat-accordion class="custom-jumbotron">
        <mat-expansion-panel expanded="false" style="margin-bottom: .5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Supplier Diversity & Inclusion
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tier Two Supplier Diversities
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Anti-Bribery & Anti-Corruption
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Corporate Social Responsibility
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Child Labour
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Conflict Minerals
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hazardous Minerals
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ESG Reports/Sustainability Goals
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ESG Ratings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sustainability Ratings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Carbon Footprint/GH Emissions
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="false" style="margin-bottom: 0.5rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Net Zero Targets
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!-- </div> -->
  </section>