<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-Caritas order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Requests for Quotations</h4>
                <h2 class="text-end"><span class="float-start">{{rfqCount}}</span><i class="fas fa-file-signature"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-Caritas order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Requests for Proposals</h4>
                <h2 class="text-end"><span class="float-start">{{rfpCount}}</span><i class="fas fa-tasks"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-Caritas order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Purchase Orders</h4>
                <h2 class="text-end"><span class="float-start">{{poCount}}</span><i class="fas fa-coins"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-Caritas order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Invoices</h4>
                <h2 class="text-end"><span class="float-start">{{invoiceCount}}</span><i class="fas fa-file-invoice-dollar"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
</div>
